:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  /* font-family: 'Josefin Sans', sans-serif; */
}